---
layout: page
---

{{ content }}

<table style="border: 1px solid black;border-collapse: collapse;text-align: center;">
  <tr>
    <th style="text-align:center">Project</th>
    <th style="text-align:center">Description</th>
  </tr>
    <tr>
      <td> <a href="https://slabstech.com/amma/">ಅಮ್ಮ : Amma</a>  </td>
      <td>Decision Engine</td>
    </tr>
    <tr>
      <td> <a href="https://slabstech.com/revive/">Revive</a>  </td>
      <td>Microservices template for Resilient Software</td>
    </tr>
    <tr>
        <td> <a href="https://slabstech.com/raita/">ರೈತ</a>  </td>
        <td>ಸ್ಥಳೀಯ ಹವಾಮಾನ/ಮಾರುಕಟ್ಟೆ ಮಾಹಿತಿ</td>
      </tr>
      <tr>
        <td> <a href="https://slabstech.com/samrudhi/">Samrudhi</a>  </td>
        <td>Curated Lending Library for Huballi</td>
      </tr>
      <tr>
        <td> <a href="https://slabstech.com/connectthedots.com/">Connect the Dots</a>  </td>
        <td>Rangoli Collection and Kids coloring book</td>
      </tr>
      <tr>
        <td> <a href="https://slabstech.com/ammanaaduge.com/">ಅಮ್ಮನ ಅಡುಗೆ</a>  </td>
        <td>Secret Family Recipe's</td>
      </tr>
      <tr>
        <td> <a href="https://gaganyatri.com">Gaganyatri</a>  </td>
        <td>ಗಗನಯಾತ್ರಿಯ ಪ್ರಯಾಣಗಳು</td>
      </tr>
  </table>

  <br>
  <br>