---
layout: page
---

{{ content }}

<table style="border: 1px solid black;border-collapse: collapse;text-align: center;">
  <tr>
    <th style="text-align:center">Project</th>
    <th style="text-align:center">Description</th>
  </tr>
    <tr>
      <td> <a href="https://slabstech.com/bhoomi/">ಭೂಮಿ : Bhoomi</a>  </td>
      <td>Online Navigation for Agri Drones using NavIC </td>
    </tr>
    <tr>
      <td> <a href="https://slabstech.com/revive/">Revive</a>  </td>
      <td>Microservices template for Resilient Software</td>
    </tr>
    <tr>
      <td> <a href="https://slabstech.com/connectthedots.com/">Connect the Dots</a>  </td>
      <td>Rangoli Collection and Kids coloring book</td>
    </tr>
    <tr>
      <td> <a href="https://slabstech.com/ammanaaduge.com/">ಅಮ್ಮನ ಅಡುಗೆ</a>  </td>
      <td>Secret Family Recipe's</td>
    </tr>
</table>